html {
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px; /* 아래쪽 여백 */
}

header a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #121212; /* 검은색 배경 */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.left img{
    width: 30px;
    height: 30px;
}

.logo {
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}

.right {
    flex: 1;
    text-align: right;
}

.login-button{
    background-color: #F1F3F5;
    color: #121212;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
}

.button{
    border: 1px solid #F1F3F5;
    border-radius: 20px;
    padding: 5px 15px;
    color: #F1F3F5;
    background-color: #121212;
}

.button:hover{
    background-color: #F1F3F5;
    color: #1E1E1E;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #121212;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #212121;
    min-width: 200px;
    text-align: left;
}

.dropdown-content a {
    color: white;
    padding: 16px 24px;
    display: block;
    background-color: #212121;
    font-size: 16px;
    font-weight: normal;
}

.dropdown-content a:hover {
    color: #96f2d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ---------- */

.main-content {
    display: flex;
}

.content {
    flex: 1;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    width: 775px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #444444;
    margin-right: 25px;
}

.profile-container img {
    width: 100px; /* 이미지 너비 */
    height: 100px; /* 이미지 높이 */
    border-radius: 50%; /* 이미지 둥글게 만들기 */
    margin-right: 20px; /* 이미지와 이름 사이의 간격 */
}

.username-span {
    font-size: 24px; /* 유저 이름 폰트 크기 */
    font-weight: bold;
    color: #FFFFFF; /* 유저 이름 글자 색상 */
    display: block;
    margin-bottom: 10px;
}

.bloginfo-span{
    font-size: 18px; /* 유저 이름 폰트 크기 */
    font-weight: lighter;
    color: #D9D9D9; /* 유저 이름 글자 색상 */
    display: block;
}

.profile-container a {
    font-size: 1.2em; /* 유저 이름 폰트 크기 */
    color: #FFFFFF; /* 유저 이름 글자 색상 */
    display: block;
    text-decoration: none;
}

.profile-container a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ECECEC;
}

.follow-info {
    width: 775px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    font-size: 1em;
    justify-content: flex-end;
}

.follow-btn-container {
    width: 775px;
    text-align: right;
    margin-right: 15px;
}

#followBtn {
    background-color: #96f2d7;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 100px;

}

.nav-tabs li {
    margin: 0;
}

.nav-tabs li a {
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.nav-tabs li.active a{
    color: #63e6be;
    border-bottom: 2px solid #63e6be;
}


/* ------------------ 글  ------------------ */


.sidebar {
    margin-top: 10px;
    flex: 0 0 200px; /* 사이드바 너비 */
    margin-right: 20px; /* 오른쪽 마진 */
    margin-left: 110px;
}

.sidebar p{
    border-bottom: white 1px solid;
    padding: 0px 0px 10px 0px;
}

.tag-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tag-list a {
    background-color: #121212;
    color: #ECECEC;
    /*padding: 8px 16px;*/
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.tag-list a.selected {
    color: #63e6be;;
}

.tag-list a:hover {
    text-decoration : underline;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    border-bottom: 1px solid #2a2a2a;
    padding: 20px;
}

.post-item a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: unset; /* 검은색 배경 */
}

.post-item img {
    border-radius: 5px;
    margin-top: 10px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*border-radius: 8px;*/
}

.post-thumbnail {
    width: 768px;
    height: 400px;
}

.post-title-link h2 {
    margin-bottom: 5px; /* 기존 값보다 작은 값으로 조정 */
    font-size: 1.5em; /* 필요에 따라 폰트 크기 조정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.post-content {
    margin-top: 5px; /* 콘텐츠 텍스트의 상단 마진을 줄임 */
    font-size: 1em; /* 필요에 따라 폰트 크기 조정 */
    color: #ccc; /* 글씨 색상 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* 태그 간의 간격을 제거 */
    padding-left: 0; /* 컨테이너의 왼쪽 패딩 제거 */
    list-style: none; /* 리스트 스타일 제거 */
    align-items: center; /* 태그를 수직으로 중앙에 배치 */
    margin-bottom: 10px; /* 하단 여백 추가 */
}

a.tag-link {
    background-color: #1e1e1e; /* 어두운 배경 */
    color: #96f2d7; /* 밝은 텍스트 색상 */
    padding: 8px 16px; /* 상하 8px, 좌우 16px 패딩 */
    border-radius: 20px; /* 둥근 모서리 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 0.9em; /* 폰트 크기 */
    font-weight: 400; /* 글씨 두께 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
    margin-right: 5px; /* 오른쪽 여백 */
    display: inline-block; /* 인라인 블록 요소로 변경 */
    white-space: nowrap; /* 공백이 있는 경우 줄바꿈 방지 */
}

a.tag-link:hover {
    background-color: #555; /* 호버 시 배경 색상 변경 */
}

a[href="/vlog/myblog/*/*"] {
    display: none;
}

.flex-center{
    display: flex;
    justify-content: left;
    align-items: center;
}

.comment-count, .post-date, .like-count{
    color: #ccc;
    font-size: 0.9em;
    margin-right: 8px;
}


/* ------------------ 시리즈 ------------------ */

.series-list {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 최대 시리즈 2개 */
    gap: 20px;
}

.series-item {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

/* 고정값으로 해놔서 바꿔야 함*/
.series-thumbnail{
    width: 350px;
    height: 175px;
}

.series-title-link{
    margin-bottom: 5px; /* 기존 값보다 작은 값으로 조정 */
    font-size: 1.5em; /* 필요에 따라 폰트 크기 조정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    color: #D9D9D9;
    text-decoration: none;
}

.series-title-link p{
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

.series-info {
    display: flex;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    gap: 10px;
}

.light-font{
    color: #666666;
}


/* ------------------ 소개 ------------------ */
.about-section {
    width: 768px;
    display: flex;
    justify-content: center;
}

.no-intro {
    text-align: center;
    padding: 20px;
}

.no-intro img {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}

.no-intro p {
    font-size: 30px;
    color: #ccc;
}

.edit-intro-btn,
.intro-form-container button {
    background-color: #96f2d7;
    color: #121212;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /*cursor: pointer;*/
}

.edit-intro-btn:hover,
.intro-form-container button:hover {
    background-color: #63e6be;
    cursor: pointer;
}

.yes-intro{
    text-align: left;
    min-width: 100%;
}

.intro-text {
    margin-top: 10px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.right-align {
    text-align: right;
}

.intro-form-container {
    margin-top: 10px;
}

.intro-form-container textarea {
    width: 768px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.intro-form-container textarea::placeholder {
    font-size: 18px;
    color: #ccc;
    font-style: italic;
    font-weight: lighter;
}