html {
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px; /* 아래쪽 여백 */
}

header a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #121212; /* 검은색 배경 */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}

.right {
    flex: 1;
    text-align: right;
}

.button{
    border: 1px solid #F1F3F5;
    border-radius: 20px;
    padding: 5px 15px;
    color: #F1F3F5;
    background-color: #121212;
}

.button:hover{
    background-color: #F1F3F5;
    color: #1E1E1E;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #121212;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #121212;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #96f2d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    display: flex;
}

.sidebar {
    margin-top: 80px;
    flex: 0 0 200px; /* 사이드바 너비 */
    margin-right: 20px; /* 오른쪽 마진 */
}

.sidebar p{
    border-bottom: white 1px solid;
    padding: 0px 0px 10px 0px;
}

.content {
    flex: 1;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.nav-tabs li {
    margin: 0;
}

.nav-tabs li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.nav-tabs li.active a,
.nav-tabs li a:hover {
    border-bottom: 2px solid #63e6be;
}

.post-title-link h2 {
    margin-bottom: 5px; /* 기존 값보다 작은 값으로 조정 */
    font-size: 1.5em; /* 필요에 따라 폰트 크기 조정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.post-content {
    margin-top: 5px; /* 콘텐츠 텍스트의 상단 마진을 줄임 */
    font-size: 1em; /* 필요에 따라 폰트 크기 조정 */
    color: #ccc; /* 글씨 색상 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    border-bottom: 1px solid #2a2a2a;
    padding: 20px;
}

.post-item a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: unset; /* 검은색 배경 */
}

.post-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.thumbnail-container {
    width: 100%;
    height: 200px; /* 원하는 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.post-thumbnail, .series-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill; /* 이미지 비율을 유지하면서 컨테이너 안에 맞춤 */
}

.series-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 최대 시리즈 2개 */
    gap: 20px;
}

.series-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.series-item:hover {
    background-color: #333333;
}

.series-item h3{
    margin-bottom: 0;
    margin-top: 0;
}

/*.series-thumbnail {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 10px;*/
/*}*/

.light-font{
    color: #666666;
}

.series-info {
    display: flex;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    gap: 10px;
}

/* 좋아요 수와 날짜 스타일 조정 */
.like-count, .post-date, .comment-count{
    color: #ccc; /* 밝은 회색 */
    font-size: 0.9em;
    margin-right: 8px;
}

/* 태그 컨테이너 스타일 */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* 태그 간의 간격을 제거 */
    padding-left: 0; /* 컨테이너의 왼쪽 패딩 제거 */
    list-style: none; /* 리스트 스타일 제거 */
    align-items: center; /* 태그를 수직으로 중앙에 배치 */
    margin-bottom: 10px; /* 하단 여백 추가 */
}

/* 태그 링크 스타일 */
a.tag-link {
    background-color: #1e1e1e; /* 어두운 배경 */
    color: #96f2d7; /* 밝은 텍스트 색상 */
    padding: 8px 16px; /* 상하 8px, 좌우 16px 패딩 */
    border-radius: 20px; /* 둥근 모서리 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 0.9em; /* 폰트 크기 */
    font-weight: 400; /* 글씨 두께 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
    margin-right: 5px; /* 오른쪽 여백 */
    display: inline-block; /* 인라인 블록 요소로 변경 */
    white-space: nowrap; /* 공백이 있는 경우 줄바꿈 방지 */
}

a.tag-link:hover {
    background-color: #555; /* 호버 시 배경 색상 변경 */
}

a[href="/vlog/myblog/*/*"] {
    display: none;
}

.flex-center{
    display: flex;
    justify-content: left;
    align-items: center;
}

.no-intro {
    text-align: center;
    padding: 20px;
}

.no-intro img {
    max-width: 320px;
    max-height: 320px;
    margin-bottom: 20px;
}

.no-intro p {
    font-size: 1.2em;
    color: #ccc;
}

.edit-intro-btn,
.intro-form-container button {
    background-color: #96f2d7;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /*cursor: pointer;*/
}

.edit-intro-btn:hover,
.intro-form-container button:hover {
    background-color: #63e6be;
    cursor: pointer;
}

.right-align {
    text-align: right;
}

.intro-form-container textarea {
    width: 98%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.about-section {
    position: relative;
}

.intro-text {
    margin-top: 10px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.intro-form-container {
    margin-top: 10px;
}

.follow-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    justify-content: flex-end; /* 오른쪽 정렬 추가 */
}

.follow-btn-container {
    text-align: right;
    margin-bottom: 10px;
}

#followBtn {
    background-color: #96f2d7;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* 태그 목록 스타일 */
.tag-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tag-list a {
    background-color: #121212;
    color: #ECECEC;
    /*padding: 8px 16px;*/
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.tag-list a.selected {
    color: #63e6be;;
}

.tag-list a:hover {
    text-decoration : underline;
}
