/* header를 위한 css 파일*/

html {
    background-color: #000000; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000; /* 검은색 배경 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF; /* 흰색 글씨 */
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444444; /* 아래쪽 경계선 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

header a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000000; /* 검은색 배경 */
}

header a:hover {
    background-color: #333333; /* 더 어두운 회색 배경 */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}

.logo:hover {
    background-color: #333333; /* 더 어두운 회색 배경 */
}

.right {
    flex: 1;
    text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -- */

/* 게시글 작성을 위한 css */

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #CCCCCC; /* 연한 회색 글씨 */
}

.check-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.check-group2 {
    display: flex;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="text"],
input[type="file"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #333333; /* 어두운 회색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    margin-top: 5px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444444; /* 어두운 회색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    width: 100%;
}

.button:hover {
    background-color: #555555; /* 더 어두운 회색 배경 */
}

/*태그의 css*/
.tags-input-container {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*background: #f0f0f0;  !* 배경색 추가 *!*/
    border-radius: 5px;    /* 경계 둥글게 처리 */
    min-height: 32px;      /* 세로 폭 조정 */
}

.tags-input {
    flex: 1;
    border: none;          /* 테두리 제거 */
    height: 24px;          /* 세로 폭 줄임 */
    margin: 2px;
    background: transparent; /* 배경 투명 처리 */
    outline: none;         /* 포커스 시 테두리 없앰 */
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: #ccc;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}
/**/