/* header를 위한 css 파일*/

html {
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px; /* 아래쪽 여백 */
}

header a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #121212; /* 검은색 배경 */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.left img{
    width: 75px;
    height: 25px;
}

.logo {
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}

.right {
    flex: 1;
    text-align: right;
}

.button{
    border: 1px solid #F1F3F5;
    border-radius: 20px;
    padding: 5px 15px;
    color: #F1F3F5;
    background-color: #121212;
}

.button:hover{
    background-color: #F1F3F5;
    color: #1E1E1E;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #121212;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profile-image1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #212121;
    min-width: 200px;
    text-align: left;
}

.dropdown-content a {
    color: white;
    padding: 16px 24px;
    display: block;
    background-color: #212121;
    font-size: 16px;
    font-weight: normal;
}

.dropdown-content a:hover {
    color: #96f2d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -- */

/* 게시글 작성을 위한 css */

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #CCCCCC; /* 연한 회색 글씨 */
}

.check-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.check-group2 {
    display: flex;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="text"],
input[type="file"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #333333; /* 어두운 회색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    margin-top: 5px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444444; /* 어두운 회색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    width: 100%;
}

.button:hover {
    background-color: #555555; /* 더 어두운 회색 배경 */
}

/*태그의 css*/
.tags-input-container {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;  /* 배경색 추가 */
    border-radius: 5px;    /* 경계 둥글게 처리 */
    min-height: 32px;      /* 세로 폭 조정 */
    border: none;          /* 테두리 제거 */
}

.tags-input {
    flex: 1;
    border: none;          /* 테두리 제거 */
    height: 24px;          /* 세로 폭 줄임 */
    margin: 2px;
    background: transparent; /* 배경 투명 처리 */
    outline: none;         /* 포커스 시 테두리 없앰 */
}

.tag {
    display: inline-block;
    padding: 8px 16px; /* 패딩 증가 */
    background-color: #1e1e1e;
    border-radius: 20px;
    margin-right: 10px; /* 오른쪽 마진 증가 */
    font-size: 16px; /* 글꼴 크기 증가 */
    font-weight: 400;
    cursor: pointer;
    color: #96f2d7;
}
/**/





/*!* header를 위한 css 파일*!*/

/*html {*/
/*    background-color: #121212; !* 검은색 배경 *!*/
/*    color: #FFFFFF; !* 흰색 글씨 *!*/
/*    font-family: Arial, sans-serif;*/
/*    padding-bottom: 0px;*/
/*    margin-bottom: 0px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: hidden;*/
/*}*/

/*body{*/
/*    display: flex;*/
/*}*/

/*.container {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/*.left-screen, .right-screen {*/
/*    flex: 1;*/
/*    box-sizing: border-box;*/
/*}*/

/*.left-screen{*/
/*    max-height: 100%;*/
/*    max-width: 50%;*/
/*    background-color: transparent;*/
/*    padding: 20px 20px 0px;*/
/*    border-right: 1px solid #2a2a2a;*/
/*}*/

/*.right-screen {*/
/*    max-width: 50%;*/
/*    max-height: 100%;*/
/*    background-color: transparent;*/
/*}*/

/*header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px 0;*/
/*    margin-bottom: 20px; !* 아래쪽 여백 *!*/
/*}*/

/*header a {*/
/*    color: #FFFFFF; !* 흰색 글씨 *!*/
/*    text-decoration: none;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    background-color: #121212; !* 검은색 배경 *!*/
/*}*/

/*.left {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.left img{*/
/*    width: 75px;*/
/*    height: 25px;*/
/*}*/

/*.logo {*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*    background-color: white;*/
/*}*/

/*.right {*/
/*    flex: 1;*/
/*    text-align: right;*/
/*}*/

/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.dropbtn {*/
/*    background-color: #121212;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    border-radius: 50%;*/
/*}*/

/*.profile-image1 {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #121212;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*    border-radius: 5px;*/
/*}*/

/*.dropdown-content a {*/
/*    color: white;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*.dropdown-content a:hover {*/
/*    color: #96f2d7;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/*!* 게시글 작성을 위한 css *!*/

/*.form-group {*/
/*    margin-bottom: 15px;*/
/*    text-align: left;*/
/*}*/

/*.title-input{*/
/*    font-size: 46px;*/
/*    font-weight: bold;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: #ECECEC;*/
/*}*/

/*.title-line{*/
/*    border: none;*/
/*    border-radius: 1px;*/
/*    width: 64px;*/
/*    height: 6px;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.tags-input-container {*/
/*    padding: 4px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    min-height: 32px;*/
/*    border: none;*/
/*}*/

/*.tags-input-container{*/
/*    background-color: transparent;*/
/*}*/

/*.tags-input {*/
/*    flex: 1;*/
/*    border: none;*/
/*    height: 24px;*/
/*    margin: 2px;*/
/*    font-size: 16px;*/
/*    color: #ECECEC;*/
/*    background: transparent;*/
/*    outline: none;*/
/*}*/

/*.tag {*/
/*    display: inline-block;*/
/*    padding: 8px 16px;*/
/*    background-color: #1e1e1e;*/
/*    border-radius: 20px;*/
/*    margin-right: 10px;*/
/*    font-size: 16px;*/
/*    font-weight: 400;*/
/*    cursor: pointer;*/
/*    color: #96f2d7;*/
/*}*/

/*.editor-container {*/
/*    position: relative;*/
/*    max-width: 100%;*/
/*    height: 720px;*/
/*}*/

/*.CodeMirror {*/
/*    height: 800px;*/
/*}*/

/*.CodeMirror-scroll {*/
/*    max-height: 600px;*/
/*    overflow-y: auto;*/
/*}*/

/*.button-container{*/
/*    background-color: #2E2E2E;*/
/*    padding: 10px 10px 10px 0px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    bottom: 0px;*/
/*    min-width: calc(49% + 7px);*/
/*}*/

/*.home-button{*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    background-color: transparent;*/
/*    color: #ECECEC;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    padding: 5px 5px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*}*/

/*.home-button:hover{*/
/*    background-color: #444444;*/
/*    cursor: pointer;*/
/*}*/

/*.temp-save-button{*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    background-color: transparent;*/
/*    color: #96F2D7;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    padding: 5px 15px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*}*/

/*.temp-save-button:hover{*/
/*    background-color: #444444;*/
/*    cursor: pointer;*/
/*}*/

/*.save-button {*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    background-color: #96F2D7;*/
/*    color: #121212;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    padding: 5px 15px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*}*/

/*.save-button:hover {*/
/*    background-color: #63E6BE; !* 더 어두운 회색 배경 *!*/
/*    cursor: pointer*/
/*}*/

/*.content-preview{*/
/*    color: #ECECEC;*/
/*}*/

/*.preview-container {*/
/*    max-height: 100%;*/
/*    max-width: 100%;*/
/*    overflow-x: hidden; !* 스크롤 허용 *!*/
/*    overflow-y: auto; !* 스크롤 허용 *!*/
/*    background-color: transparent; !* 배경색 추가 *!*/
/*    padding: 20px; !* 패딩 추가 *!*/
/*    box-sizing: border-box; !* 패딩을 포함하여 크기 계산 *!*/
/*}*/