html {
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background-color: #121212; /* 검은색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px; /* 아래쪽 여백 */
}

header a {
    color: #FFFFFF; /* 흰색 글씨 */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #121212; /* 검은색 배경 */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.left img{
    width: 75px;
    height: 25px;
}

.right {
    flex: 1;
    text-align: right;
}

.button {
    border: 1px solid #F1F3F5;
    border-radius: 20px;
    padding: 5px 15px;
    color: #F1F3F5;
    background-color: #121212;
}

.button:hover {
    background-color: #F1F3F5;
    color: #1E1E1E;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #121212;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.profile-image1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #212121;
    min-width: 200px;
    text-align: left;
}

.dropdown-content a {
    color: white;
    padding: 16px 24px;
    display: block;
    background-color: #212121;
    font-size: 16px;
    font-weight: normal;
}

.dropdown-content a:hover {
    color: #96f2d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.settings-container{
    display: flex;
    justify-content: center;
}

.main-content{
    width: 768px;
}

/* 프로필 이미지 변경 및 유저이름, 블로그 한 줄 소개 변경 스타일*/
.profile-section {
    display: flex;
    margin-bottom: 100px;
    text-align: center;
}

/* 이미지 변경 */
.image-section{
    padding-right: 30px;
    border-right: 1px solid #2a2a2a;
    align-items: center;
}

.profile-image2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.image-upload{
    background-color: #96f2d7;
    color: #121212;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    padding: 7px 25px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.image-upload:hover{
    background-color: #63e6be;
    cursor: pointer;
}

.image-remove{
    color: #96f2d7;
    background-color: #121212;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    padding: 7px 25px;
    border-radius: 3px;
}

.image-remove:hover{
    background-color: #666666;
    cursor: pointer;
}


/* 유저이름, 블로그 한 줄 소개 변경 */
.name-info-section{
    margin-left: 30px;
    width: calc(100% - 22px);
    text-align: left;
}

.name-info-section button{
    color: #96F2D7;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1em;
}

.name-info-section button:hover{
    color: #63e6be;
    background-color: transparent;
    cursor: pointer;
}

.name-input{
    display: block;
    background-color: #444444;
    color: #D9D9D9;
    width: calc(50%);
    margin-bottom: 10px;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.info-input{
    display: block;
    background-color: #1E1E1E;
    color: #D9D9D9;
    width: calc(97%);
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.right-align {
    text-align: right;
}

.right-align button{
    background-color: #96f2d7;
    color: #121212;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    padding: 7px 25px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-decoration: none;
}

.right-align button:hover{
    background-color: #63e6be;
    color: #121212;
    cursor: pointer;
    text-decoration: none;
}


/* 블로그 제목 수정 스타일 */
.title-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.h3-form{
    display: flex;
    align-items: center;
    gap: 30px
}

.h3-form input{
    width: 540px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #121212;
    color: #FFFFFF;
}

#saveButton1, #saveButton2{
    background-color: #96F2D7;
    color: #121212;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    padding: 3px 20px;
}

#saveButton1, #saveButton2:hover{
    background-color: #63e6be;
    cursor: pointer;
}

#editButton1, #editButton2{
    color: #96F2D7;
    background-color: transparent;
    border: none;
}

#editButton1, #editButton2:hover{
    color: #96F2D7;
    background-color: transparent;
    text-decoration : underline;
    cursor: pointer;
}

.input-info{
    font-size: 14px;
    color: #666666;
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2a2a2a;
    background-color: transparent;
}

/* 이메일 주소 수정 스타일 */
.email-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}


/* 회원탈퇴 스타일 */
.delete-account-section{
    display: flex;
    gap: 30px;
    align-items: center;
}

.delete-account-section button{
    background-color: #ffc9c9;
    color: #121212;
    font-size: 1em;
    font-weight: bolder;
    padding: 7px 18px;
    border: none;
    border-radius: 5px;
}

.delete-account-section button:hover{
    background-color: #ffa8a8;
    cursor: pointer;
}