<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 화면</title>
    <link rel="stylesheet" href="/css/loginform.css">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMSG = /*[[${param.error}]]*/ '';
        if (errorMSG) {
            alert("로그인에 실패했습니다. 다시 시도해주세요.");
        }
        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <header>
        <div class="left">
            <a th:href="@{/vlog}" style="align-items: center">
                <img src="/images/logo1.png" alt="No Posts"/>
            </a>
        </div>
    </header>
    <form th:action="@{/vlog/login}" method="post">
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="아이디" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <div class="form-group buttons">
            <button type="submit" class="button">로그인</button>
            <a th:href="@{/vlog/userregform}" class="button">회원가입</a>
        </div>
    </form>
</div>
</body>
</html>
