<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/myblog.css">
</head>
<body>
<div class="container">
    <header>
        <div class="left">
            <a th:href="@{/vlog}" class="logo">V</a>
            <a th:href="@{/vlog/myblog/{userId}(userId=${blogOwner.id})}">
                <h1 th:text="${blog.title} + '의 블로그'">User's Blog</h1>
            </a>
        </div>
        <div class="right">
            <div th:if="${session.user == null}">
                <a th:href="@{/vlog/loginform}">로그인</a>
            </div>
            <div th:if="${session.user != null}">
                <a th:href="@{/vlog/newpost}" class="button">새 글 작성</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <img th:src="@{${session.user.profileImage}}" alt="Profile Image" class="profile-image"/>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/vlog/myblog/{userId}(userId=${session.user.id})}">내 블로그</a>
                        <a th:href="@{/vlog/saves}">임시 글</a>
                        <a th:href="@{/vlog/readlist}">읽기 목록</a>
                        <a th:href="@{/vlog/settings}">설정</a>
                        <a th:href="@{/vlog/logout}">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="post-list">
            <div th:each="post : ${posts}" class="post-item">
                <a th:href="@{'/vlog/myblog/' + ${blogOwner.id} + '/' + ${post.id}}">
                        <div class="thumbnail-container">
                            <img class="post-thumbnail" th:src="@{${post.thumbnailImage}}" alt="Thumbnail Image"/>
                        </div>

                        <h2 th:text="${post.title}">Post Title</h2>
                        <p th:text="${post.thumbnailText}">Post Content</p>
                        <p th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">Post Date</p>
                </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>