<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>새 글 작성</title>
        <link rel="stylesheet" href="/css/newpost.css">
    </head>
    <body>
        <div class="container">
            <header>
                <a th:href="@{/velog}" class="logo">Velog</a>
            </header>
            <form th:action="@{/velog/newpost}" method="post" enctype="multipart/form-data" th:object="${post}">
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea id="content" th:field="*{content}" placeholder="내용을 입력하세요" required></textarea>
                </div>
                <div class="check-group">
                    <div class="check-group2">
                        <label for="privacySetting">비공개 설정</label>
                        <input type="checkbox" id="privacySetting" th:field="*{privacySetting}">
                    </div>
                    <div class="check-group2">
                        <label for="temporarySetting">임시 저장 설정</label>
                        <input type="checkbox" id="temporarySetting" th:field="*{temporarySetting}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="thumbnailImageFile">썸네일 이미지</label>
                    <input type="file" id="thumbnailImageFile" name="thumbnailImageFile">
                </div>
                <div class="form-group">
                    <label for="thumbnailText">썸네일 텍스트</label>
                    <input type="text" id="thumbnailText" th:field="*{thumbnailText}" placeholder="썸네일 텍스트를 입력하세요">
                </div>
                <div class="form-group">
                    <button type="submit" class="button">작성</button>
                </div>
            </form>
        </div>
    </body>
</html>