<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시글 상세보기</title>
        <link rel="stylesheet" href="/css/postDetail.css">
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/header2 :: header2}"></div>
            <div class="postDetail-container">
                <div class="main-container">
                    <h1 class="post-title" th:text="${post.title}">게시물 제목</h1>
                    <div class="post-meta-actions">
                        <div class="post-meta">
                            <span class="author" th:text="${blogOwner.name}">유저 이름 </span>
                            <span> · </span>
                            <span class="created-date" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">게시물 작성 시간</span>
                        </div>
                        <div class="post-actions">
                            <div th:if="${user != null && user.id == blogOwner.id}">
                                <button th:onclick="|window.location.href='@{/vlog/myblog/{username}(user.username)/stats/{postId}(postId=${post.id})}'|">통계</button>
                                <form th:action="@{/vlog/myblog/{username}/edit/{postId}(username=${user.username}, postId=${post.id})}" method="get" style="display: inline;">
                                    <button type="submit">수정</button>
                                </form>
                                <form th:action="@{/vlog/myblog/{username}/delete/{postId}(username=${user.username}, postId=${post.id})}" method="post" style="display: inline;">
                                    <button type="submit">삭제</button>
                                </form>
                            </div>
                            <button id="likeBtn" th:if="${user != null}" th:data-post-id="${post.id}" th:onclick="'toggleLike(\'' + ${post.id} + '\');'">Like</button>
                            <div th:if="${user != null && !(user.id == blogOwner.id)}">
                                <button id="followBtn" th:data-username="${blogOwner.username}">Follow</button>
                            </div>
                        </div>
                    </div>
                    <div class="tags-container">
                    <span th:each="tag : ${post.tags}">
                        <a th:href="@{'/vlog/myblog/@' + ${blogOwner.username} + '/posts/tag/' + ${tag.name}}" th:text="${tag.name}" class="tag-link"></a>
                    </span>
                    </div>
                    <div class="thumbnail-container">
                        <img class="post-thumbnail" th:src="@{${post.thumbnailImage}}" alt="Thumbnail"/>
                    </div>
                    <div class="post-content" th:utext="${htmlContent}"></div>
                    <div class="profile-container">
                        <a th:href="@{'/vlog/myblog/@' + ${blogOwner.username}}">
                            <img th:src="@{${blogOwner.profileImage}}" alt="프로필 이미지"/>
                        </a>
                        <div>
                            <a th:href="@{'/vlog/myblog/@' + ${blogOwner.username}}">
                                <span class="username-span" th:text="${blogOwner.name}">유저 이름</span>
                            </a>
                            <span class="bloginfo-span" th:text="${blogOwner.getBlog().getInfo()}"> 블로그 한 줄 소개 </span>
                        </div>
                    </div>

                    <div class="comments-section">
                        <h4><span th:text="${post.comments.size()}"></span>개의 댓글</h4>
                        <form th:action="@{/vlog/comments}" method="post" class="comment-form">
                            <input type="hidden" name="postId" th:value="${post.id}"/>
                            <textarea name="content" placeholder="댓글을 작성하세요" class="comment-textarea"></textarea>
                            <div class="comment-form-actions">
                                <button type="submit" class="submit-btn">댓글 작성</button>
                            </div>
                        </form>
                        <div th:each="comment : ${post.comments}">
                            <div th:if="${comment.parent == null}" th:insert="~{fragments/commentFragment :: commentFragment(comment=${comment})}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/postDetail.js}"></script>
    </body>
</html>